body{
    height: 100vh;
    width: 100vw;
}
.nav{
    
    top: 0;
    background-color: white;
    display: grid;
    grid-template-columns: 30fr 5fr 5fr 5fr 5fr 16.5fr;
}
.navB{
    display:inline-block;
    border: none;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color: gray;
    padding-top: 10px;
    text-decoration: none;
}
.navc{
    display:inline-block;
    border: none;
    background-color:white;
    font-family: Arial, Helvetica, sans-serif;
    font-size:medium;
    color: gray;
    padding-top: 10px;
    text-decoration: none;
    margin-left: 200px;
}

.nav :hover{
    cursor:grab;

}
.section{
    width: 100vw;
    height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.slider{
    background-color: aliceblue;
    width: 100%;
    height: 650px;
    overflow: hidden;
}
.slides{
    width: 100%;
    height: 800px;
    display: flex;
    
}
.slides input{
    display: none;
}
.silde{
  width: 20%;
}
.silde img{
    width: 800px;
    height:600px;
    
}
.text{
    height: 150px;
    width: 400px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: aliceblue;
    background:rgba(0,0,0,.2);
    position: absolute;
    top: 300px;
    left:100px;
}
.text p{
    position: relative;
    top: -30px;
    font-size:1.1cm;
    font-weight: bolder;
    
}
.text img{
    height: 50px;
    border-radius: 10px;
    padding-right: 20px;

}
.text1{
    position: relative;
    top: -30px;
    font-size:1.1cm;
    font-weight: bolder;
    

}
.text1 img{
    height: 50px;
    border-radius: 10px;
    padding-right: 20px;
}
.manual{
    position: absolute;
    width: 800px;
    margin-top:-200px;
    margin-left: 402px;
    justify-content: center;
    display: flex;
}

.manuals{
    padding: 6px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;

}
.manuals:not(:last-child){
    margin-right: 50px;
}
.manuals:hover{
    background-color: aqua;

}
#radio1:checked ~ .first{
    margin-left: 0;

}

#radio2:checked ~ .first{
    margin-left:-125%;
       
}
.auto{
    position: absolute;
    width: 800px;
    margin-top: 600px;
    margin-left: 400px;
    display: flex;
    justify-content: center;
   
}
.auto div{
    border: 2px solid black;
    padding: 7px;
    border-radius: 10px;
    transition: 1s;

}
.auto div:not(:last-child){
    margin-right: 50px;
}
#radio1:checked ~ .auto .auto1{
    background-color: aqua;

}

#radio2:checked ~ .auto .auto2{
    background-color: aqua;

}



.main{
    height: 100%;
   
    width: 100%;
}
.sub{
  
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
}
#two{
    line-height: 10px;
    
}
.p1{
    
    font-size:1.3cm;
    color: rgb(67, 64, 64);
    font-weight:bold; 
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
    border-bottom: 2px solid orange;
    width: 450px;
    height: 43px;
}
.circle1{
    position: relative;
    left: 20%;
    top: 100px;
    height: 250px;
    width: 280px;
    border-style:dashed;
    border-color: rgb(110, 192, 246);
    border-top-right-radius: 70%;
    border-bottom-right-radius: 80%;
    border-bottom-left-radius: 70%;
    border-top-left-radius: 60%;
    border-right-color: white;
    
}

.line{
    background-color: rgb(239, 247, 253);
    padding-top:20px;
    text-align:center;
    color:rgb(7, 174, 241) ;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.line1{
    position:absolute;
    left: 60%;
    background-image: url("img/note.png");
    background-size:25px;
    height: 30px;
    width: 150px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 19px;
}
.line2{
    position: absolute;
    top: 50%;
    left: 72%;
    background-image: url("img/school.png");
    background-size:25px;
    height: 30px;
    width: 200px;
    background-position: 20px;
    background-repeat: no-repeat;
}
.line3{
    position: absolute;
    top: 70%;
    left: -27%;
    background-image: url("img/money.png");
    background-size:25px;
    height: 30px;
    width: 130px;
    padding-left: 15px;
    background-position: 20px;
    background-repeat: no-repeat;
}
.line4{
    position: absolute;
    top: 18%;
    left: -50%;
    background-image: url("img/profile.png");
    background-size:25px;
    height: 30px;
    width: 200px;
    background-position: 20px;
    background-repeat: no-repeat;
}




.sub1{
    height: 55%;
   
    background-color: rgb(236, 246, 250);
    text-align: center;
    line-height: 20px;
  
    
}
.p2{
    font-size:1.3cm;
    color: rgb(67, 64, 64);
    font-weight:bold; 
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
    width: 580px;
    margin-left: 30%;
   
}
.picture{
    display: flex;
    justify-content:space-around;
}
.pic{
    height: 200px;
    width: 180px;
    background-color: antiquewhite;
    background: no-repeat;
    border-radius: 20px;
    text-align: left;
    padding-left: 15px;
    
    
}
.ph3{
    color: white;
    font-size:x-large;
    position: relative;
    top: 65%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;  
}
.sub2{
    height: 82%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-flow: row wrap;
    padding-right: 40px;
    padding-left: 80px;
    line-height: 10px;

}
#s{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
    height: 150px;
    width: 200px;
    text-align: center;
    font-size:5cm;
    border: 4px solid rgb(149, 207, 246);
    border-style: dashed;
    border-start-start-radius: 100px;
    border-start-end-radius:100px;
    border-end-start-radius: 100px;
    border-right:white;
   
    position: relative;
    left: 15pc;
    border-bottom: none;

}
#s1{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    height: 150px;
    width: 200px;
    text-align: center;
    font-size:5cm;
    border: 4px solid  rgb(149, 207, 246);
    border-style: dashed;
    border-start-end-radius: 150px;
    border-end-end-radius: 150px;
    border-end-start-radius: 150px;
    
    position: relative;
    left: 16pc;
    top: -6px;
    border-left: none;
    
}
.secLine{
    background-color: rgb(239, 247, 253);
    padding-top:20px;
    text-align:center;
    color:rgb(7, 174, 241) ;
    border-radius: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.secline1{
    position:absolute;
    top:285%;
    left: 30%;
    background-image: url("img/note.png");
    background-size:25px;
    height: 30px;
    width: 150px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 19px;

}
.secline2{
    position:absolute;
    top: 295%;
    left: 15%;
    background-image: url("img/search.png");
    background-size:25px;
    height: 30px;
    width: 150px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 19px;
}
.secline3{
    position:absolute;
    left: 30%;
    top: 305%;
    background-image: url("img/star.png");
    background-size:25px;
    height: 30px;
    width: 150px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 24px;
}
.secline4{
    position:absolute;
    left: 16%;
    top: 315%;
    background-image: url("img/money.png");
    background-size:25px;
    height: 30px;
    width: 150px;
    background-position: 20px;
    background-repeat: no-repeat;
    padding-left: 19px;
}

.sub3{
    height: 110%;
    background-color: rgb(236, 246, 250);
    text-align: center;
    line-height: 20px;
    
}
.subP{
    position: relative;
    left: 30%;
    top: -20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight:600;
    color: rgb(60, 58, 58);
  
}
.cmdOne{
    display: flex;
    justify-content:space-between;
    position: relative;
    left: 15%;
    
    
    
    width: 1000px;
    text-align: left;
    
}
.cmd1{
    position: relative;
    width: 47%;
   padding: 10px;
   padding-left: 10px;
   margin-left: 50px;
   
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: white;
    border-radius: 40px;
   
}
.cmdTwo{
    display: flex;
    justify-content:space-between;
    position: relative;
    left: 15%;
    width: 1000px;
    text-align: left;
}

.sub4{
    width: 100%;
    height: 105%;
    text-align: center;
  
    
}

.main4{
   
    height: 56%;
    width: 100%;
    display: flex;
    justify-content:space-evenly;
    position: relative;
    top: -20px;
   

}
.submain4{
    width: 24%;
   
    border-radius: 20px;
    
    
}
.submain4_sub1{
 text-align: left;
 padding: 20px;
 position: relative;
 top: -20px;
 font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
.sub4Button{
    background-color: rgb(255, 145, 0);
    border: none;
    height: 45px;
    width: 130px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: large;
    color: white;
    border-radius: 10px;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}
.sub5{
    
    height: 90%;
   display:flex;
   flex-direction: column;
   justify-content: center;
   
}
.submain5{
   
    height: 55%;

text-align: center;
}
.submain5one{
   
    height:30% ;
    display: flex;
    justify-content:space-between;
    padding: 50px;
}
.phone{
    height: 20px;
}